body, .vanish {
    background: #000;
    background-size: 100%;
    background: rgb(0, 0, 0); /* for older browsers */
    background: rgba(0, 0, 0, 0); /* R, G, B, A (0.8)*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000, endColorstr=#CC0000); /* AA, RR, GG, BB */
	pointer-events: none;
}

button {
    pointer-events: auto;
}

input {
    pointer-events: auto;
}