<html lang="en" ng-app="store">
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
		
		<link rel="stylesheet" src="css_manual/icons.css">
		<link rel="stylesheet" src="css_manual/transbody.css">
		<link rel="stylesheet" src="css_manual/app.css">
		
		<script type="text/javascript" src="assets/js/jquery-2.1.3.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
		<script type="text/javascript" src="assets/js/angular-locker.min.js"></script>
		
		<script type="text/javascript" src="js/owtools_windows.js"></script>
		
		<script type="text/javascript" src="js/index.js"></script>
		<script type="text/javascript" src="js/services/options.js"></script>

		<title>Streaming Keystrokes</title>
	</head>
	<body ng-controller="StoreController as storeCtrl">
		<div> <!--ng-controller="ItemController as itemCtrl"-->
			Active: {{storeCtrl.activeItem}}
			<hr>
			<select ng-model="storeCtrl.currentItem" ng-options="item.name for item in storeCtrl.items"></select><br>
			<!--Selected: {{storeCtrl.currentItem.name}}-->
			<hr>
			<!--<div ng-repeat="item in storeCtrl.items">
				{{item.name}}
			</div>-->
			Enabled: <input type="checkbox" ng-model="storeCtrl.currentItem.enabled" ng-change="storeCtrl.saveToStorage()">
			<div>
				Key Theme:
				<select ng-model="storeCtrl.currentItem.keyTheme" ng-options="name as name for (name,theme) in storeCtrl.options.keyThemes" ng-change="storeCtrl.saveToStorage()"></select>
			</div>
			Key Combos:
			<textarea ng-model="storeCtrl.currentItem.keys"></textarea>
			
		</div>
	</body>
</html>
